.component-container {
    height: 100%;
    .main-left {
        background-color: #3770ae;
        height: 100%;
        width: 33.33%;
        align-self: start;
        border-right: 5px solid #c3d1d3;
        .toolbar {
            background-color: rgb(8, 83, 139);
            height: 40px;
            border-top: 1px solid #7ca5ce;
            border-bottom: 1px solid #7ca5ce;
            p {
                color: rgb(234, 234, 234);
                font-size: 16px;
                margin: 0 0 0 20px;
            }
            i {
                color: #fff;
                margin-right: 5px;
                cursor: pointer;
            }
        }
        .menuForm {
            height: calc(100% - 40px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 5px 0 0px 13px;
            .el-form {
                .el-form-item__error {
                    padding-top: 1px;
                    position: relative;
                    top: 3px;
                }
                .el-form-item__label {
                    color: #fff;
                    line-height: 18px;
                    font-size: 12px;
                }
                .el-button {
                    background-color: #eaeaea;
                    color: rgb(68, 68, 68);
                    padding: 7px 5px;
                }
                .el-form-item {
                    margin-bottom: 10px;
                }
                .el-input,
                .el-select {
                    width: 225px;
                }
                .el-radio__label{
                    color: #fff;
                }
                .el-upload__tip{
                    color: #fff;
                }
                a.el-upload-list__item-name{
                    color: #fff;
                    i{
                        color: #fff;
                    }
                }
                .el-upload-list__item:hover{
                    a.el-upload-list__item-name{
                        color: #3770ae;
                        i{
                            color: #3770ae;
                        }
                    }
                }
             
            }
        }
    }
    .main-right {
        height: 100%;
        transition: width 0.5s;
        width: 66.66%;
        border:1px solid rgb(121, 165, 223);
        .right-wrapper {
            position: relative;
            height: 100%;
            .el-pagination {
                background-color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 10;
            }
        }
    }
    .collapse-main-left {
        display: none;
    }

    .collapse-main-right {
        width: calc(100% - 28px);
    }
    .toolbar-btn {
        width: 28px;
        background-color: rgb(8, 83, 139);
        height: 100%;
        display: none;
        padding-top: 15px;
        text-align: center;
        i {
            color: #fff;
            cursor: pointer;
        }
    }
    .collapse-tollbar-btn {
        display: block;
    }
}
.popoverForm{
    .el-form-item{
        margin-bottom: 0;
        label{
            font-weight: 700;
        }
    }
}